* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.carousel img {
  max-width: 100%;
  height: 350px;
  object-fit: cover;
}
@keyframes mymove {
  50% {
    transform: rotate(360deg);
  }
}
#mybag {
  animation: mymove 5s infinite;
}

#row {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;

  gap: 32px;
}

/* .product-card-container {

} */

.product-card-container > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product-card-container:hover {
  padding: 0.3rem;
  width: 200px;
  height: 200px;
  background-color: black;
  transition: 0.5s all;
}

.product-card-container:hover img {
  height: 220px;
  width: 200px;
  height: 200px;
  transition: 0.5s all;
}

.bd-example {
  padding-top: 5.7rem;
}

#navbar {
  background-color: #f9f5f6;
}
#footer {
  width: 100vw;
}
