* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.account {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 40px;
  color: dimgrey;
}
.continue {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.address {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.signin {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.create {
  display: flex;
  justify-content: center;
}
.input {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.password {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
#button {
  border: 1px black solid;
  width: 20%;
  height: 50px;
  background-color: black;
  color: white;
}
#emailInput,
#passwordInput {
  border: 1px solid;
  width: 20%;
  height: 40px;
  padding: 10px;
}
.questionlast {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
